.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.git/
.idea/
.vscode/
build/
coverage/
android/.gradle/
android/app/build/
ios/Pods/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
